CLIENT_ID = "Client ID"
CLIENT_SECRET = "Client Secret"
SERVICE_ACCOUNT = "Service Account"
PRIVATE_KEY = "Private Key"
DOMAIN_ID = Domain ID
ADMINISTRATOR = "1 Administrator"
CALENDAR_MEMBER_ID = "userId|orgUnitId|groupId"
